@model TopLearn.Query.Contracts.UserPanel.AccountQueryModel
@{
    Layout = null;
}

<div class="col-md-9 col-sm-8 col-xs-12">
    <section class="user-account-content">
        <header>
            <h1> داشبورد </h1>
        </header>
        <div class="inner">
            <div class="account-information">
                <h3> اطلاعات کاربری </h3>
                <ul>
                    <li> <i class="zmdi zmdi-account"></i> نام و نام خانوادگی : @Model.FullName </li>
                    <li> <i class="zmdi zmdi-assignment-account"></i> نام کاربری :  @Model.Username </li>
                    <li> <i class="zmdi zmdi-email"></i> ایمیل : @Model.Email </li>
                    <li> <i class="zmdi zmdi-calendar-check"></i> تاریخ عضویت : @Model.RegisterDate </li>
                    <li> <i class="zmdi zmdi-money-box"></i> موجودی کیف پول: @Model.Wallet </li>
                </ul>
            </div>
        </div>
    </section>
</div>